body {
    background-color: #b3adff;
}

.side-bar {
    float: left;
    background-color: #ffdbdb;
    width: 30%;
}

.shell {
    float: right;
    width: 69%;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 30px;
}
